// global variables

$gcblue: rgb(29, 58, 131);
$color1: rgb(0, 91, 187);
$color2: rgb(0, 155, 58);
$color3: rgb(255, 161, 0);
$color4: rgb(143, 35, 179);
$dark-gray: #222;
$dark-4: #212121;
$medium-gray: #ddd;
$white: #fff;
$menu-button-bg: #373a47;
$side-nav-bg: #25589e;

$header-height: 48px;
$ratio: 1440/1024;

$font-directory: '../font';

$small-screen-multiplier: 1.5;

// Materialize overrides
$small-screen: 736px; //for iphone 6+
$small-screen-up: 737px; //for iphone 6+
