.loading {
  display: none;
}

.gc-blue {
  background-color: $gcblue;
}

.gc-green {
  background-color: $color2;
}

.gc-yellow {
  background-color: $color3;
}

.gc-purple {
  background-color: $color4;
}
