@mixin responsive-portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin responsive-landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin responsive-dim($width, $height, $multiplier) {
  @media #{$medium-and-up} {
    @include responsive-portrait {
      height: #{$height}vw;
      width: #{$width * $ratio}vw;
    }

    @include responsive-landscape {
      height: #{$height}vh;
      width: #{$width * $ratio}vh;
    }
  }

  @media #{$small-and-down} {
    @include responsive-portrait {
      height: #{$height * $multiplier}vw;
      width: #{$width * $multiplier * $ratio}vw;
    }

    @include responsive-landscape {
      height: #{$height * $multiplier}vh;
      width: #{$width * $multiplier * $ratio}vh;
    }
  }
}
