@mixin responsive-portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin responsive-landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin orientation-dim($width, $height) {
  @include responsive-portrait {
    height: #{$height}vw;
    width: #{$width * $ratio}vw;
  }

  @include responsive-landscape {
    height: #{$height}vh;
    width: #{$width * $ratio}vh;
  }
}

@mixin responsive-dim($width, $height) {
  @include orientation-dim($width, $height);
}
