@media #{$large-and-up} {
  .button-modal {
    // recreate the btn-large class from materialize and only apply it on larger screens where it makes sense
    height: $button-floating-size * 1.5;
    width: $button-floating-size * 1.5;

    i {
      line-height: $button-floating-size * 1.5;
    }
  }
}

.modal,
.modal.modal-fixed-footer {
  height: 80%;
  max-height: 80%;
  width: 75%;

  .modal-content {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}

.map,
.map-frame {
  height: 100%;
  width: 100%;
}

.map-frame {
  border: 0;
  border-width: 0;
}

.modal-content .preloader-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
}

.hidden {
  visibility: none;
}
