.section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .funkyshape,
  .button-modal,
  .button-link {
    position: absolute;
  }

  &:nth-of-type(1) {
    .funkyshape {
      @include responsive-dim(44.409722222, 26.81640625);
      bottom: 0;
      left: 0;
    }
  }

  &:nth-of-type(2) {
    .funkyshape {
      @include responsive-dim(45.1875, 21.77734375);
      bottom: 0;
      left: 20.3vw;

      @media #{$medium-and-up} {
        @include responsive-portrait {
          bottom: 0;
          left: 10.7vw;
        }

        @include responsive-landscape {
          bottom: 0;
          left: 10.7vw;
        }
      }
    }
  }

  &:nth-of-type(3) {
    .funkyshape {
      @include responsive-dim(42.347222222, 27.24609375);
      bottom: 0;
      left: 0;
    }
  }

  &:nth-of-type(4) {
    background-position: top left;

    .funkyshape {
      @include responsive-dim(26.222222222, 33.369140625);
      bottom: 0;
      right: 0;
    }
  }

  &:nth-of-type(5) {
    .funkyshape {
      @include responsive-dim(27.479166667, 38.4765625);
      bottom: 0;
      left: 0;
    }

    .button-modal {
      @include responsive-landscape {
        bottom: 5vh;
        left: 22vh;
      }

      @include responsive-portrait {
        bottom: 5vw;
        left: 22vw;
      }
    }
  }

  &:nth-of-type(6) {
    background-position: center right;

    .funkyshape {
      @include responsive-dim(43.381944444, 27.353515625);
      bottom: 0;
      right: 0;
    }
  }

  &:nth-of-type(7) {
    .funkyshape {
      @include responsive-dim(50, 25.029296875);
      bottom: 0;
      left: 27.2vw;

      @media #{$small-and-down} {
        @include responsive-portrait {
          left: 0;
        }
      }
    }
  }

  &:nth-of-type(8) {
    background-position: center center;

    .funkyshape {
      @include responsive-dim(29.722222222, 30.888671875);
      bottom: 0;
      left: 0;
    }

    .button-modal {

      @include responsive-landscape {
        bottom: 3vh;
        left: 30vh;
      }

      @include responsive-portrait {
        bottom: 3vw;
        left: 30vw;
      }
    }
  }

  &:nth-of-type(9) {
    background-position: center right;

    .funkyshape {
      @include responsive-dim(53.326388889, 25.927734375);
      bottom: 0;
      left: 23.3vw;

      @media #{$medium-and-down} {
        @include responsive-portrait {
          left: 0;
        }
      }
    }
  }

  &:nth-of-type(10) {
    background-position: bottom center;

    .funkyshape {
      @include responsive-dim(29.381944444, 29.78515625);
      bottom: 0;
      left: 0;
    }
  }

  &:nth-of-type(11) {
    background-position: top left;

    .funkyshape {
      @include responsive-dim(37.069444444, 52.12890625);
      bottom: 0;
      right: 0;
    }

    .button-modal {
      @include responsive-landscape {
        bottom: 5vh;
        right: 6vh;
      }

      @include responsive-portrait {
        bottom: 5vw;
        right: 6vw;
      }
    }
  }

  &:nth-of-type(12) {
    background-position: bottom left;

    .transparent {
      background-color: transparent;
      position: absolute;
      text-align: center;
      z-index: 10;
    }

    .funkyshape,
    .transparent {
      @include responsive-dim(40.833333333, 16.572265625);
      bottom: 0;
      left: 29.4vw;

      @media #{$small-and-down} {
        @include responsive-portrait {
          left: 10vw;
        }
      }
    }

    .fixed-action-btn {
      bottom: 10%;
      position: absolute;
      right: 5%;
      z-index: 11;
    }
  }
}

.card-more {
  opacity: 0;
  transition: .8s;
  transition-delay: .5s;
  transition-property: opacity;
}
