.section {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.open-map-button {
    width: 100%;
    height: 100%;
}

[data-anchor="section1"] {
    background-image: url('../images/s1.jpg');
    #shape1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 79.7vh;
        height: 42.5vh;
    }
}
[data-anchor="section2"] {
    background-image: url('../images/s2.jpg');
    #shape2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 79.6vh;
        height: 28.5vh;
    }
    .map-button {
        position: absolute;
        top: 18vh;
        left: 58vh;
        width: 5vh;
        height: 5vh;
    }
}
[data-anchor="section3"] {
    background-image: url('../images/s3.jpg');
    #shape3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 54.7vh;
        height: 28vh;
    }
}
[data-anchor="section4"] {
    background-image: url('../images/s4.jpg');
    #shape4 {
        position: absolute;
        top: 53%;
        left: 49%;
        width: 45vh;
        height: 37.5vh;
    }
}
[data-anchor="section5"] {
    background-image: url('../images/s5.jpg');
    #shape5 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 79.6vh;
        height: 28.5vh;
    }
}
[data-anchor="section6"] {
    //background-image: url('../images/s6.jpg');
    // .textcontainer, .shapebox,
    #shape6 {
	position: absolute;
	top: 0;
	left: 27.1vw;
	//width: 40.6vw;
	width: 66vh;
	height: 23.4vh;
    }
    .map-button {
	position: absolute;
	top: 14vh;
	left: 84vh;
	width: 5vh;
	height: 5vh;
    }
}
[data-anchor="section7"] {
    background-image: url('../images/s7.jpg');
    #shape7 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 84.6vh;
        height: 27.6vh;
    }
}
[data-anchor="section8"] {
    background-image: url('../images/s8.jpg');
    #shape8 {
        position: absolute;
        bottom: 0vh;
        left: 0;
        width: 134vh;
        height: 12.5vh;
    }
}
[data-anchor="section9"] {
    background-image: url('../images/s9.jpg');
    #shape9 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 45.1vh;
        height: 59.1vh;
    }
}
[data-anchor="section10"] {
    background-image: url('../images/s10.jpg');
    #shape10 {
        position: absolute;
        bottom: 55.3vh;
        left: 76.3vh;
        width: 40.4vh;
        height: 40.4vh;
    }
}
[data-anchor="section11"] {
    background-image: url('../images/s11.jpg');
    #shape11 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 84.8vh;
        height: 20.6vh;
    }
}
