.section {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.open-map-button {
  width: 100%;
  height: 100%;
}
#logo-container {
  height: 92px;
}
[data-anchor="section1"] #shape1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 79.7vh;
  height: 42.5vh;
}
[data-anchor="section2"] #shape2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vh;
  height: 42.5vh;
}
[data-anchor="section4"] #shape4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 79.6vh;
  height: 28.5vh;
}
[data-anchor="section4"] .map-button {
  position: absolute;
  top: 18vh;
  left: 55vh;
}
[data-anchor="section6"] #shape6 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 54.7vh;
  height: 28vh;
}
[data-anchor="section70"] #shape70 {
  position: absolute;
  top: 53vh;
  left: 22vw;
  width: 45vh;
  height: 37.5vh;
}
[data-anchor="section7"] #shape7 {
  position: absolute;
  bottom: 0;
  right: -8.7vh;
  width: 79.6vh;
  height: 28.5vh;
}
[data-anchor="section8"] #shape8 {
  position: absolute;
  top: 0;
  left: 7vw;
  width: 66vh;
  height: 23.4vh;
}
[data-anchor="section8"] .map-button {
  position: absolute;
  top: 14vh;
  left: 44vw;
}
[data-anchor="section00"] #shape00 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84.6vh;
  height: 27.6vh;
}
[data-anchor="section9"] #shape9 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 134vh;
  height: 12.5vh;
}
[data-anchor="section10"] #shape10 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45.1vh;
  height: 59.1vh;
}
[data-anchor="section11"] #shape11 {
  position: absolute;
  bottom: 55.3vh;
  left: 27.3vw;
  width: 40.4vh;
  height: 40.4vh;
}
[data-anchor="section11"] .map-button {
  position: absolute;
  top: 18vh;
  left: 55vh;
}
[data-anchor="section12"] #shape12 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84.8vh;
  height: 20.5vh;
}
/* MENUS */
/* Menu Button */
.menu-button-wrap {
  z-index: 1;
  position: fixed;
  top: 0;
  left: -2px;
  width: 10.5vh;
  height: 11.5vh;
  padding: 0;
  background: transparent;
}
.menu-button {
  margin: 0.5em;
  border: none;
  text-indent: 2.5em;
  font-size: 3vh;
  color: transparent;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
  content: '';
}
.menu-button:hover {
  opacity: 0.6;
}
/* Menu */
/* MAPS/MODALS */
.map {
  width: 100%;
  height: 100%;
}
/* media queries for responsiveness */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  [data-anchor="section3"] .map-button {
    left: 55vh;
  }
  [data-anchor="section5"] #shape5 {
    left: 49vw;
  }
  [data-anchor="section6"] #shape6 {
    right: 0;
  }
  [data-anchor="section7"] #shape7 {
    left: 19.3vw;
  }
  [data-anchor="section7"] .map-button {
    left: 35vw;
  }
  [data-anchor="section11"] #shape11 {
    left: 52.3vw;
  }
  [data-anchor="section12"] #shape12 {
    left: 0;
  }
  .menu-wrap {
    width: 30vw;
    padding: 2em;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .menu-wrap {
    width: 20vw;
    height: 100vh;
    padding: 2em;
  }
}
