.bottom-nav {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  /*float: right;
  width: 30px; */
  z-index: 100;
}

[data-anchor="section4"] {
  background-image: url('../images/bk-bridge.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}